.card {
  margin: 0.5rem;
  height: auto;
  width: 75%;
  max-width: 270px;
}

#offImg {
  max-width: 270px;
}

.card-deck .card {
    width: initial;
}

.card-deck {
  width: 100%;
}

.container-fluid {
  text-align: center;
}

