extends default.pug

append styles
  link(rel='stylesheet', type='text/css', href='/stylesheets/sponsor.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.min.css')

append scripts
  script(type='text/javascript', src='/javascripts/pdfobject.min.js')

block content
  .container-fluid
    .row
      .card#dlCard
        .card-block     
          button.btn.btn-primary(type='button', onclick="location.href = 'https://drive.google.com/a/ucsd.edu/uc?id=1rnt2-NVrsvGGBpWgjaIrhpYbR3sZPHRf&export=download'")
            p Download the sponsorship packet #[i.fa.fa-lg.fa-download(aria-hidden='true')]
    .row
      .col-12
        .card
          .card-img-top
            img.img-responsive(src='images/sponsorship/spon1.jpeg')
          .card-img-top  
            img.img-responsive(src='images/sponsorship/spon2.jpeg')
            img.img-responsive(src='images/sponsorship/spon3.jpeg')
            img.img-responsive(src='images/sponsorship/spon4.jpeg')
            img.img-responsive(src='images/sponsorship/spon5.jpeg')
            img.img-responsive(src='images/sponsorship/spon6.jpeg')
            img.img-responsive(src='images/sponsorship/spon7.jpeg')
     



        
