block scripts
  div
    script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
    //script(src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js")
    script(src='/javascripts/bootstrap.min.js')
    
    // What's this for?
    //script(src="/javascripts/smooth-scroll.min.js")

    // Fill before deployment
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','#{googleAnalyticsID}','auto');ga('send','pageview');
    //script(src='/javascripts/functions.js')