extends default.pug

block content
  .jumbotron
    .container
      p We are UBIC at UCSD, devoted to moving the field of bioinformatics forward.
  //.page
    .card-columns
      .card
        img.card-img-top.img-fluid(src="images/officers/test.jpg")
        .card-block

          h4.card-title Researcher Spotlight
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere
      .card
        .card-block
          h4.card-title Test Title
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere 2
      .card
        .card-block
          h4.card-title News and Updates
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere 3
      .card
        .card-block
          h4.card-title Photo Gallery
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere
      .card
        .card-block
          h4.card-title Test Title
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere
      .card
        .card-block
          h4.card-title Test Title
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere




