

.card {
  margin: 0.5rem;
  height: 100%;
  width: 100%;
}

/* this fixes margin bug, remove after official beta */


.card-columns {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap; 
  align-items: stretch; 
}

.card-deck .card {
  display: block;
  flex-basis: 33.3%; /* change this value for each breakpoint*/
}

.card-deck .card:not(:last-child) {
    margin-right: 15px;
}

.card-deck .card:not(:first-child) {
    margin-left: 15px;
}

