extends default

append styles
  link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')

block content
  .jumbotron
    .content
      p 404
      p Something's gone wrong; if you've spotted a bug please contact our #[a(href='mailto:"lpatel@ucsd.edu"') VP External].
      