extends default.pug

append styles
  link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')

block content
  .jumbotron
    .container
      p We are a community of undergraduate bioinformaticians at UC San Diego serving to strengthen, expand, and support UCSD's bioinformatics program.
  //.page
    .card-columns
      .card
        img.card-img-top.img-fluid(src="images/officers/test.jpg")
        .card-block

          h4.card-title Researcher Spotlight
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere
      .card
        .card-block
          h4.card-title Test Title
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere 2
      .card
        .card-block
          h4.card-title News and Updates
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere 3
      .card
        .card-block
          h4.card-title Photo Gallery
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere
      .card
        .card-block
          h4.card-title Test Title
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere
      .card
        .card-block
          h4.card-title Test Title
          p.card-text Test content
            a.btn.btn-primary(href='#') Go somewhere




